{% extends 'base.html.twig' %}

{% block title %}PORTFOLIO MARIE SAGEHOMME{% endblock %}

{% block body %}
    <header class="header">
        <div class="box">
            <div class="title">
                <div class="block">.</div>    
                <h1>Marie Sagehomme<span>.</span></h1>
            </div>
            <div class="role">
                <div class="block">.</div>
                 <h2>Front-end developer</h2>
            </div>
        </div>
    </header>   
    <div class="intro">
            <p>I'm a front-end developer & webdesigner who love creating websites, new design and coding! I'm curious and love sharing.
                <button class="btn-secondary"><a href="">contact me</a></button> if you want more information about my works</p>
    </div>
    <h3>Projects back</h3>
    <div class="container">
        <div class="project-reservation">
            <p>Symfony</p>
            <p>reservation</p>
            <p>2020</p>
            <button class="btn-primary"><a href="https://github.com/mariesagehomme/reservationWPWD" target="_blank">Github</a></button>
        </div> 
        <hr>
        <div class="project-portfolio">
            <p>Symfony</p>
            <p>portfolio</p>
            <p>2020</p>
            <button class="btn-primary"><a href="https://github.com/mariesagehomme/portfolio2020" target="_blank">Github</a></button>
        </div>
        <hr>
        <div class="project-simon">
            <p>javascript</p>
            <p>simon</p>
            <p>2019</p>
            <button class="btn-primary"><a href="https://github.com/mariesagehomme/simongame" target="_blank">Github</a></button>
        </div> 
        <hr>
        <div class="project-snake">
            <p>javascript</p>
            <p>snake</p>
            <p>2019</p>
            <button class="btn-primary"><a href="https://github.com/mariesagehomme/snake" target="_blank">Github</a></button>
        </div> 
    </div>
    
    <h3>Projects front & design</h3>
    <div class="container">
        <div class="project-reservation">
            <p>Symfony</p>
            <p>reservation</p>
            <p>2020</p>
            <button class="btn-primary"><a href="#">show</a></button>
        </div> 
        <hr>
        <div class="project-drupal">
            <p>Drupal 8</p>
            <p>demo</p>
            <p>2020</p>
            <button class="btn-primary"><a href="#">show</a></button>
        </div>
        <hr>
        <div class="project-bella-aurora">
            <p>bella aurora</p>
            <p>visual</p>
            <p>2018</p>
            <button class="btn-primary"><a href="#">show</a></button>
        </div>  
        <hr>
         <div class="project-eaglestone">
            <p>Elyx</p>
            <p>Emailing</p>
            <p>2018</p>
            <button class="btn-primary"><a href="#">show</a></button>
        </div>  
    </div>
    
    <h3>About me</h3>
    <div class="carousel" data-flickity='{ "wrapAround": true }'>
        <div class="carousel-cell">
            <img src="{{ asset('images/manga.jpg') }}" alt="manga">
        </div>
        <div class="carousel-cell">
            <img src="{{ asset('images/secret.jpg') }}" alt="secret">
        </div>
        <div class="carousel-cell">
            <img src="{{ asset('images/eye.jpg') }}" alt="eye">
        </div>
        <div class="carousel-cell">
            <img src="{{ asset('images/shadow.jpg') }}" alt="shadow">
        </div>
    </div>

{% endblock %}