{% extends 'base.html.twig' %}

{% block title %}Portfolio Marie Sagehomme{% endblock %}

{% block body %}
    <div class="container">
    <h2>{{ projects.technology }}</h2>
    <h3>{{ projects.name }}</h3>
    
    
    <div class="projects-item">
        {% if projects.description %}
            <p class="projects-item-text">{{ projects.description |nl2br }}</p>      
        {% endif %}

        {% if projects.picture %}
            <p class="projects-item-picture"><img src="{{ asset('/images/' ~ projects.picture) }}"></p>
        {% endif %}
    </div>
{% endblock %}