/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Jun 18, 2020, 10:14:13 AM
    Author     : Marie Sagehomme
*/

.projects-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;


    .project{
        display: flex;
        flex-direction: row;
        margin: 10px 0;
        
        @include respond-to(medium) {
            margin: 20px 0;
            font-size: 2em;
        }

        p {
            width: 33.33%;
        }
    }
}